/*Art of War Style page...*/

body {
    width: 100%;
    height: 100%;
    color: #fff;
}

.img_fondo_pagina {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/background/BFA (21).jpg");
}
.right{
    float: right;
}
.table {
    /* display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar; */
}
.table td, .table th {
    /*text-align: center;*/
}
/*-------GENERAL------------*/
.pointer {
    cursor: pointer;
}
.container {    
    background-color: #212529;
    margin-top: 21px;
    padding: 25px;
    /* border: 1px solid; */
    box-shadow: 0 7px 8px 4px rgba(0,0,0,.5);
}
.moneyitem, .moneygold, .moneysilver, .moneycopper, .moneyachievement, .moneysocketmeta, 
.moneysocketred, .moneysocketyellow, .moneysocketblue, .moneysocketprismatic {
    background: no-repeat right center;
    display: inline-block;
}
.moneygold {
    padding-right: 15px;
    background-image: url("../img/icons/money-gold.gif");
}
.moneysilver {
    padding-right: 15px;
    background-image: url("../img/icons/money-silver.gif");
}
.moneycopper {
    padding-right: 15px;
    background-image: url("../img/icons/money-copper.gif");
}
.alert-danger {
    color: #721c24;
    background-color: #bf5861;
    border-color: #ff001b;
}
@font-face {
    font-family: "LifeCraft";
    src: url("../font/LifeCraft_Font.ttf");
}
.warcraft_font {
    font-family: "LifeCraft";
}
.flipImg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
/*END -------GENERAL------------*/

/*-------INDEX------------*/
.home_name {
    font-size: 6em;
    text-align: center;
}
.log_artofwar {
    text-align: center;
}
/*END -------INDEX------------*/

/*-------PLAYABLE CLASS COLOR------------*/
.character-warrior { color: #C79C6E; }
.character-paladin { color: #F58CBA; }
.character-hunter { color: #ABD473; }
.character-rogue { color: #FFF569; }
.character-priest { color: #FFFFFF; }
.character-death-knight { color: #C41F3B; }
.character-shaman { color: #0070DE; }
.character-mage { color: #40C7EB; }
.character-warlock { color: #8787ED; }
.character-monk { color: #00FF96; }
.character-druid { color: #FF7D0A; }
.character-demon-hunter { color: #A330C9; }
/*END -------PLAYABLE CLASS COLOR------------*/


/*-------MENU------------*/
#main-menu {
    background-color: #00000096;
    color: white;
}

#main-menu > nav {
    text-align: center;
}

#main-menu > nav > li {
    display: inline-block;
}
/*END -------MENU------------*/

/*-------GUILD CHALLENGE------------*/
.dungeon-challenge-img {
    background-size: cover;
    background-position: center center;    
}
.dung-title {
    padding: 50px;
    text-align: center;
    text-shadow: 0 0 15px #fff, 0 0 30px rgba(255,255,255,.3);
    color: #fff;
}
.group-time {
    float: left;
}
.key-downgrade {
    color: red;
}
.key-upgrade {
    color: #19e219;
    text-shadow: 0 0 15px #3dce43, 0 0 30px rgba(255,255,255,.3);
}
.key-date {
    float: right;
    font-size: 0.7em;
    text-align: center;
    padding-top: 2em;
    margin-bottom: 0em;
}
/*END -------GUILD CHALLENGE------------*/


/*-------GUILD PROGRESS------------*/
.world-rank {
    color: #fff;
}
.region-rank {
    color: #1eff00;
}
.realm-rank {
    color: #0070dd;
}
/*END -------GUILD PROGRESS------------*/

/*-------FORCE UPDATE------------*/
.returnCode {
    padding: 5px;
    border: solid 1px #000;
    margin-top: 1em;
    background-color: #0000003d;
}
.returnCode > code {
    color: white;
}
/*END -------FORCE UPDATE------------*/