/*Art of War Style page...*/
html {
    height: 100%;
}
body {
    color: #fff;
    position: relative;
    padding-bottom: 13rem;
    min-height: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.right {
    float: right;
}
.left {
    float: left;
}
.bold {
    font-weight: bold;
}
/*-------FONTS--------------*/
@font-face {
    font-family: "LifeCraft";
    src: url("./../font/LifeCraft_Font.ttf");
}
@font-face {
      font-family: 'iconset';
      src: url("./../font/iconset.ttf");
      font-weight: normal;
      font-style: normal;
}
.artOfWar-icon {
    font-family: "iconset";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/*END----FONTS--------------*/
/*-------GENERAL------------*/
.navbar {
    box-shadow: 0 3px 8px 4px rgba(0,0,0,.5);
}
#footer {
    background-color: #212529;
    box-shadow: 0 -3px 8px 4px rgba(0,0,0,.5);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
}

.copyRight {
    color: rgba(255,255,255,.25);
    text-align: center;
}
.right_small_date {
    font-size: 0.7em;
    color: #a3a7ab;
    float: right;
    text-align: right;
}
.small_title {
    /*text-align: center;*/
    font-size: 2em;
}
.divder {
    border-bottom: 1px solid #ffffff26;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.img_fondo_pagina {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-image: url("./../img/background/BFA (21).jpg");
}
.pointer {
    cursor: pointer;
}
body > .container {    
    background-color: #212529;
    margin-top: 21px;
    padding: 25px;
    /* border: 1px solid; */
    box-shadow: 0 7px 8px 4px rgba(0,0,0,.5);
    margin-bottom: 21px;
}
.moneyitem, .moneygold, .moneysilver, .moneycopper, .moneyachievement, .moneysocketmeta, 
.moneysocketred, .moneysocketyellow, .moneysocketblue, .moneysocketprismatic {
    background: no-repeat right center;
    display: inline-block;
}
.moneygold {
    padding-right: 15px;
    background-image: url("./../img/icons/money-gold.gif");
}
.moneysilver {
    padding-right: 15px;
    background-image: url("./../img/icons/money-silver.gif");
}
.moneycopper {
    padding-right: 15px;
    background-image: url("./../img/icons/money-copper.gif");
}
.alert-danger {
    color: #721c24;
    background-color: #bf5861;
    border-color: #ff001b;
}
.warcraft_font {
    font-family: "LifeCraft";
}
.flipImg {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
/*END -------GENERAL------------*/

/*-------COLOR ITEM QUALITY--------*/
.quality-poor,.quality-0 {
    color: #9d9d9d;
}
.quality-common,.quality-1 {
    color: #ffffff;
}
.quality-uncommon, .quality-2{
    color: #1eff00;
}
.quality-rare, .quality-3 {
    color: #0070dd;
}
.quality-epic, .quality-4 {
    color: #a335ee;
}
.quality-legendary, .quality-5 {
    color: #ff8000;
}
.quality-artifact, .quality-6 {
    color: #e6cc80;
}
.quality-heirloom, .quality-7 {
    color: #00ccff;
}
.quality-wow-token, .quality-8 {
    color: #00ccff;
}
/*END-------COLOR ITEM QUALITY--------*/

/*-------PLAYABLE CLASS COLOR------------*/
.character-warrior { color: #C79C6E; }
.character-paladin { color: #F58CBA; }
.character-hunter { color: #ABD473; }
.character-rogue { color: #FFF569; }
.character-priest { color: #FFFFFF; }
.character-death-knight { color: #C41F3B; }
.character-shaman { color: #0070DE; }
.character-mage { color: #40C7EB; }
.character-warlock { color: #8787ED; }
.character-monk { color: #00FF96; }
.character-druid { color: #FF7D0A; }
.character-demon-hunter { color: #A330C9; }
/*END -------PLAYABLE CLASS COLOR------------*/

/*-------MENU------------*/
#main-menu {
    background-color: #00000096;
    color: white;
}

#main-menu > nav {
    text-align: center;
}

#main-menu > nav > li {
    display: inline-block;
}
/*END -------MENU------------*/

/*-------GUILD CHALLENGE------------*/
.dungeon-challenge-img {
    background-size: cover;
    background-position: center center;   
    margin: -25px -25px 0 -25px; 
}
.dung-title {
    padding: 50px;
    text-align: center;
    text-shadow: 0 0 15px #fff, 0 0 30px rgba(255,255,255,.3);
    color: #fff;
}
.group-time {
    float: left;
}
.key-downgrade {
    color: red;
}
.key-upgrade {
    color: #19e219;
    text-shadow: 0 0 15px #3dce43, 0 0 30px rgba(255,255,255,.3);
}
.key-date {
    float: right;
    font-size: 0.7em;
    text-align: center;
    padding-top: 2em;
    margin-bottom: 0em;
}
/*END -------GUILD CHALLENGE------------*/

/*-------GUILD PROGRESS------------*/
.world-rank {
    color: #fff;
}
.region-rank {
    color: #1eff00;
}
.realm-rank {
    color: #0070dd;
}
/*END -------GUILD PROGRESS------------*/

/*-------FORCE UPDATE------------*/
.returnCode {
    padding: 5px;
    border: solid 1px #000;
    margin-top: 1em;
    background-color: #0000003d;
}
.returnCode > code {
    color: white;
}
/*END -------FORCE UPDATE------------*/

/*-------LOADING SPINNER------------*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*END-------LOADING SPINNER------------*/

/*-----------------ALTERS--------------*/
.char-name {
    /* background-color: rebeccapurple; */
    width: 150px;
}
.char-class {
    text-align: center;
}
/*END------------ALTERS--------------*/

/*-----------------GUILD_RANK--------------*/
.mem-name {
    font-size: 0.8em;
}
/*END------------GUILD_RANK--------------*/

/*-----------------USER PANEL--------------*/
.main_char:hover {
    color: #ffd100;
}
/*END-----------------USER PANEL--------------*/

/*-----------------CREATE POLL--------------*/
.col-2 > .form-check-label {
    margin-left: 0.96rem;
}
.addOption {
    margin-right: 1em;
}
/*END-----------------CREATE POLL--------------*/

/*-----------------POLL--------------*/
.btn_poll_option, btn_poll_option_delete {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 0;
    padding-top: 2px;
}
.deleteOption {
    float: right;
}
.poll_options {
    margin: 1em;
}
.poll_options > div {
    margin-bottom: 0.5em;
}
.ajaxLoad {
    float: left;
    width: 20px;
    height: 20px;
}
.poll_opt_mask {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}
.poll_opts.row {
    /* background-color: red; */
    margin-left: 0;
    margin-right: 0;
}
/*END-----------------POLL--------------*/

/*----------MYTHIC PLUS-----------------*/
.key_run_dun_img {
    height: 140px;
}
.key_run_group {
    padding-bottom: 15px;
}
.key_run_lvl {
    background-image: url("./../img/icons/mythic_key_level.png");
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 29px;
    font-size: 1.5em;
}